.color1 {
    background-color: #A50026;
}

.color2 {
    background-color: #D73027;
}

.color3 {
    background-color: #F46D43;
}

.color4 {
    background-color: #FDAE61;
}

.color5 {
    background-color: #FEE090;
}

.color6 {
    background-color: #FFFFBF;
}

.color7 {
    background-color: #E0F3F8;
}

.color8 {
    background-color: #ABD9E9;
}

.color9 {
    background-color: #74ADD1;
}

.color10 {
    background-color: #4575B4;
}

.color11 {
    background-color: #313695;
}
